In [1]:
import pandas as pd
import numpy as np
import warnings
pd.set_option("display.max_columns",None)

In [2]:
fact_survey=pd.read_csv("C://Users//Admin//Desktop//food and beverage//C6 Input Files//Dataset//fact_survey_responses.csv")
repondents=pd.read_csv("C://Users//Admin//Desktop//food and beverage//C6 Input Files//Dataset//dim_repondents.csv")
cities=pd.read_csv("C://Users//Admin//Desktop//food and beverage//C6 Input Files//Dataset//dim_cities.csv")

In [3]:
fact_survey.head()

,Response_ID,Respondent_ID,Consume_frequency,Consume_time,Consume_reason,Heard_before,Brand_perception,General_perception,Tried_before,Taste_experience,Reasons_preventing_trying,Current_brands,Reasons_for_choosing_brands,Improvements_desired,Ingredients_expected,Health_concerns,Interest_in_natural_or_organic,Marketing_channels,Packaging_preference,Limited_edition_packaging,Price_range,Purchase_location,Typical_consumption_situations
0,103001,120031,2-3 times a week,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Not sure,No,5,Unfamiliar with the brand,Blue Bull,Availability,Reduced sugar content,Guarana,No,Yes,TV commercials,Compact and portable cans,Yes,50-99,Supermarkets,Studying/working late
1,103002,120032,2-3 times a month,Throughout the day,To boost performance,No,Neutral,Not sure,No,5,Not interested in energy drinks,Bepsi,Availability,More natural ingredients,Caffeine,Yes,Not Sure,Print media,Compact and portable cans,No,50-99,Supermarkets,Sports/exercise
2,103003,120033,Rarely,Before exercise,Increased energy and focus,No,Neutral,Not sure,No,2,Not available locally,Bepsi,Availability,More natural ingredients,Caffeine,No,Yes,Online ads,Innovative bottle design,Not Sure,100-150,Supermarkets,Studying/working late
3,103004,120034,2-3 times a week,To stay awake during work/study,To boost performance,No,Positive,Dangerous,Yes,5,Other,Bepsi,Other,Other,Caffeine,No,Yes,Online ads,Compact and portable cans,No,Above 150,Supermarkets,Sports/exercise
4,103005,120035,Daily,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Effective,Yes,5,Other,Sky 9,Other,More natural ingredients,Caffeine,Yes,Yes,Online ads,Compact and portable cans,Yes,100-150,Online retailers,Studying/working late

In [4]:
repondents.head()

   Respondent_ID            Name    Age  Gender City_ID
0         120031  Aniruddh Issac  15-18  Female   CT117
1         120032     Trisha Rout  19-30    Male   CT118
2         120033    Yuvraj  Virk  15-18    Male   CT116
3         120034    Pranay Chand  31-45  Female   CT113
4         120035  Mohanlal Joshi  19-30  Female   CT120

In [5]:
cities.head()

  City_ID       City    Tier
0   CT111      Delhi  Tier 1
1   CT112     Mumbai  Tier 1
2   CT113  Bangalore  Tier 1
3   CT114    Chennai  Tier 1
4   CT115    Kolkata  Tier 2

## checking Nulls

In [6]:
fact_survey.isna().sum()

Response_ID                       0
Respondent_ID                     0
Consume_frequency                 0
Consume_time                      0
Consume_reason                    0
Heard_before                      0
Brand_perception                  0
General_perception                0
Tried_before                      0
Taste_experience                  0
Reasons_preventing_trying         0
Current_brands                    0
Reasons_for_choosing_brands       0
Improvements_desired              0
Ingredients_expected              0
Health_concerns                   0
Interest_in_natural_or_organic    0
Marketing_channels                0
Packaging_preference              0
Limited_edition_packaging         0
Price_range                       0
Purchase_location                 0
Typical_consumption_situations    0
dtype: int64

In [7]:
cities.isna().sum()

City_ID    0
City       0
Tier       0
dtype: int64

In [8]:
repondents.isna().sum()

Respondent_ID    0
Name             0
Age              0
Gender           0
City_ID          0
dtype: int64

In [9]:
fact_survey.info()
cities.info()
repondents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Response_ID                     10000 non-null  int64
 1   Respondent_ID                   10000 non-null  int64
 2   Consume_frequency               10000 non-null  object
 3   Consume_time                    10000 non-null  object
 4   Consume_reason                  10000 non-null  object
 5   Heard_before                    10000 non-null  object
 6   Brand_perception                10000 non-null  object
 7   General_perception              10000 non-null  object
 8   Tried_before                    10000 non-null  object
 9   Taste_experience                10000 non-null  int64
 10  Reasons_preventing_trying       10000 non-null  object
 11  Current_brands                  10000 non-null  object
 12  Reasons_for_choosing_brands     10000 non-null  object
 13  Improvements_desired            10000 non-null  object
 14  Ingredients_expected            10000 non-null  object
 15  Health_concerns                 10000 non-null  object
 16  Interest_in_natural_or_organic  10000 non-null  object
 17  Marketing_channels              10000 non-null  object
 18  Packaging_preference            10000 non-null  object
 19  Limited_edition_packaging       10000 non-null  object
 20  Price_range                     10000 non-null  object
 21  Purchase_location               10000 non-null  object
 22  Typical_consumption_situations  10000 non-null  object
dtypes: int64(3), object(20)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   City_ID  10 non-null     object
 1   City     10 non-null     object
 2   Tier     10 non-null     object
dtypes: object(3)
memory usage: 372.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Respondent_ID  10000 non-null  int64
 1   Name           10000 non-null  object
 2   Age            10000 non-null  object
 3   Gender         10000 non-null  object
 4   City_ID        10000 non-null  object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

## Joining DataFrames to make Main Dataset.

In [10]:
repondents.head()

   Respondent_ID            Name    Age  Gender City_ID
0         120031  Aniruddh Issac  15-18  Female   CT117
1         120032     Trisha Rout  19-30    Male   CT118
2         120033    Yuvraj  Virk  15-18    Male   CT116
3         120034    Pranay Chand  31-45  Female   CT113
4         120035  Mohanlal Joshi  19-30  Female   CT120

In [11]:
cities.head()

  City_ID       City    Tier
0   CT111      Delhi  Tier 1
1   CT112     Mumbai  Tier 1
2   CT113  Bangalore  Tier 1
3   CT114    Chennai  Tier 1
4   CT115    Kolkata  Tier 2

In [12]:
respondents2=pd.merge(repondents,cities,on="City_ID",how="left")

In [13]:
respondents2.head()

   Respondent_ID            Name    Age  Gender City_ID       City    Tier
0         120031  Aniruddh Issac  15-18  Female   CT117  Ahmedabad  Tier 2
1         120032     Trisha Rout  19-30    Male   CT118       Pune  Tier 2
2         120033    Yuvraj  Virk  15-18    Male   CT116  Hyderabad  Tier 1
3         120034    Pranay Chand  31-45  Female   CT113  Bangalore  Tier 1
4         120035  Mohanlal Joshi  19-30  Female   CT120    Lucknow  Tier 2

In [14]:
fact_survey.head()

,Response_ID,Respondent_ID,Consume_frequency,Consume_time,Consume_reason,Heard_before,Brand_perception,General_perception,Tried_before,Taste_experience,Reasons_preventing_trying,Current_brands,Reasons_for_choosing_brands,Improvements_desired,Ingredients_expected,Health_concerns,Interest_in_natural_or_organic,Marketing_channels,Packaging_preference,Limited_edition_packaging,Price_range,Purchase_location,Typical_consumption_situations
0,103001,120031,2-3 times a week,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Not sure,No,5,Unfamiliar with the brand,Blue Bull,Availability,Reduced sugar content,Guarana,No,Yes,TV commercials,Compact and portable cans,Yes,50-99,Supermarkets,Studying/working late
1,103002,120032,2-3 times a month,Throughout the day,To boost performance,No,Neutral,Not sure,No,5,Not interested in energy drinks,Bepsi,Availability,More natural ingredients,Caffeine,Yes,Not Sure,Print media,Compact and portable cans,No,50-99,Supermarkets,Sports/exercise
2,103003,120033,Rarely,Before exercise,Increased energy and focus,No,Neutral,Not sure,No,2,Not available locally,Bepsi,Availability,More natural ingredients,Caffeine,No,Yes,Online ads,Innovative bottle design,Not Sure,100-150,Supermarkets,Studying/working late
3,103004,120034,2-3 times a week,To stay awake during work/study,To boost performance,No,Positive,Dangerous,Yes,5,Other,Bepsi,Other,Other,Caffeine,No,Yes,Online ads,Compact and portable cans,No,Above 150,Supermarkets,Sports/exercise
4,103005,120035,Daily,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Effective,Yes,5,Other,Sky 9,Other,More natural ingredients,Caffeine,Yes,Yes,Online ads,Compact and portable cans,Yes,100-150,Online retailers,Studying/working late

In [15]:
df=pd.merge(fact_survey,respondents2,on="Respondent_ID",how="left")

In [16]:
df.head()

,Response_ID,Respondent_ID,Consume_frequency,Consume_time,Consume_reason,Heard_before,Brand_perception,General_perception,Tried_before,Taste_experience,Reasons_preventing_trying,Current_brands,Reasons_for_choosing_brands,Improvements_desired,Ingredients_expected,Health_concerns,Interest_in_natural_or_organic,Marketing_channels,Packaging_preference,Limited_edition_packaging,Price_range,Purchase_location,Typical_consumption_situations,Name,Age,Gender,City_ID,City,Tier
0,103001,120031,2-3 times a week,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Not sure,No,5,Unfamiliar with the brand,Blue Bull,Availability,Reduced sugar content,Guarana,No,Yes,TV commercials,Compact and portable cans,Yes,50-99,Supermarkets,Studying/working late,Aniruddh Issac,15-18,Female,CT117,Ahmedabad,Tier 2
1,103002,120032,2-3 times a month,Throughout the day,To boost performance,No,Neutral,Not sure,No,5,Not interested in energy drinks,Bepsi,Availability,More natural ingredients,Caffeine,Yes,Not Sure,Print media,Compact and portable cans,No,50-99,Supermarkets,Sports/exercise,Trisha Rout,19-30,Male,CT118,Pune,Tier 2
2,103003,120033,Rarely,Before exercise,Increased energy and focus,No,Neutral,Not sure,No,2,Not available locally,Bepsi,Availability,More natural ingredients,Caffeine,No,Yes,Online ads,Innovative bottle design,Not Sure,100-150,Supermarkets,Studying/working late,Yuvraj Virk,15-18,Male,CT116,Hyderabad,Tier 1
3,103004,120034,2-3 times a week,To stay awake during work/study,To boost performance,No,Positive,Dangerous,Yes,5,Other,Bepsi,Other,Other,Caffeine,No,Yes,Online ads,Compact and portable cans,No,Above 150,Supermarkets,Sports/exercise,Pranay Chand,31-45,Female,CT113,Bangalore,Tier 1
4,103005,120035,Daily,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Effective,Yes,5,Other,Sky 9,Other,More natural ingredients,Caffeine,Yes,Yes,Online ads,Compact and portable cans,Yes,100-150,Online retailers,Studying/working late,Mohanlal Joshi,19-30,Female,CT120,Lucknow,Tier 2

In [17]:
df.shape

(10000, 29)

## 1. Demographic Insights

In [18]:
df.Gender.unique()

array(['Female', 'Male', 'Non-binary'], dtype=object)

In [19]:
df.Gender.value_counts()

Gender
Male          6038
Female        3455
Non-binary     507
Name: count, dtype: int64

In [20]:
#### Who prefers energy drink more? (male/female/non-binary?)
prefer_energy_drink = pd.pivot_table(
    df,
    index=["Consume_frequency"],
    columns=["Gender"],
    values=["Respondent_ID"],
    aggfunc="count"
).reset_index()

# Flatten the columns to remove the multiindex
prefer_energy_drink.columns = [col[0] if col[1] == '' else f"{col[0]}_{col[1]}" for col in prefer_energy_drink.columns]

# Reset the index to have a clean DataFrame
prefer_energy_drink = prefer_energy_drink.reset_index(drop=True)

In [21]:
prefer_energy_drink

,Consume_frequency,Respondent_ID_Female,Respondent_ID_Male,Respondent_ID_Non-binary
0,2-3 times a month,549,968,96
1,2-3 times a week,1217,2094,180
2,Daily,466,817,63
3,Once a week,561,973,75
4,Rarely,662,1186,93

In [22]:
prefer_energy_drink["Female"]=round(prefer_energy_drink['Respondent_ID_Female']/prefer_energy_drink['Respondent_ID_Female'].sum()*100,2)
prefer_energy_drink["Male"]=round(prefer_energy_drink['Respondent_ID_Male']/prefer_energy_drink['Respondent_ID_Male'].sum()*100,2)
prefer_energy_drink["Non_binary"]=round(prefer_energy_drink['Respondent_ID_Non-binary']/prefer_energy_drink['Respondent_ID_Non-binary'].sum()*100,2)

In [23]:
prefer_energy_drink

,Consume_frequency,Respondent_ID_Female,Respondent_ID_Male,Respondent_ID_Non-binary,Female,Male,Non_binary
0,2-3 times a month,549,968,96,15.89,16.03,18.93
1,2-3 times a week,1217,2094,180,35.22,34.68,35.50
2,Daily,466,817,63,13.49,13.53,12.43
3,Once a week,561,973,75,16.24,16.11,14.79
4,Rarely,662,1186,93,19.16,19.64,18.34

In [24]:
##Which age group prefers energy drinks more?
prefer_energy_drink_age = pd.pivot_table(
    df,
    index=["Consume_frequency"],
    columns=["Age"],
    values=["Respondent_ID"],
    aggfunc="count"
).reset_index()

# Flatten the columns to remove the multiindex
prefer_energy_drink_age.columns = [col[0] if col[1] == '' else f"{col[0]}_{col[1]}" for col in prefer_energy_drink_age.columns]

# Reset the index to have a clean DataFrame
prefer_energy_drink_age = prefer_energy_drink_age.reset_index(drop=True)

In [25]:
df.columns

Index(['Response_ID', 'Respondent_ID', 'Consume_frequency', 'Consume_time',
       'Consume_reason', 'Heard_before', 'Brand_perception',
       'General_perception', 'Tried_before', 'Taste_experience',
       'Reasons_preventing_trying', 'Current_brands',
       'Reasons_for_choosing_brands', 'Improvements_desired',
       'Ingredients_expected', 'Health_concerns',
       'Interest_in_natural_or_organic', 'Marketing_channels',
       'Packaging_preference', 'Limited_edition_packaging', 'Price_range',
       'Purchase_location', 'Typical_consumption_situations', 'Name', 'Age',
       'Gender', 'City_ID', 'City', 'Tier'],
      dtype='object')

In [111]:
prefer_energy_drink_age

,Consume_frequency,Respondent_ID_15-18,Respondent_ID_19-30,Respondent_ID_31-45,Respondent_ID_46-65,Respondent_ID_65+,Respondent_ID_15-18_share,Respondent_ID_19-30_share,Respondent_ID_31-45_share,Respondent_ID_46-65_share,Respondent_ID_65+_share
0,2-3 times a month,232,891,398,66,26,15.59,16.14,16.75,15.49,13.68
1,2-3 times a week,539,1917,809,155,71,36.22,34.73,34.05,36.38,37.37
2,Daily,196,736,348,42,24,13.17,13.33,14.65,9.86,12.63
3,Once a week,244,888,361,86,30,16.40,16.09,15.19,20.19,15.79
4,Rarely,277,1088,460,77,39,18.62,19.71,19.36,18.08,20.53

In [27]:
col=prefer_energy_drink_age.columns
col

Index(['Consume_frequency', 'Respondent_ID_15-18', 'Respondent_ID_19-30',
       'Respondent_ID_31-45', 'Respondent_ID_46-65', 'Respondent_ID_65+'],
      dtype='object')

In [28]:
for i in col[1:]:
    
    b="share"
    col_name=str(i)+"_"+str(b)
    prefer_energy_drink_age[col_name]=round(prefer_energy_drink_age[i]/prefer_energy_drink_age[i].sum()*100,2)

In [109]:
prefer_energy_drink_age

,Consume_frequency,Respondent_ID_15-18,Respondent_ID_19-30,Respondent_ID_31-45,Respondent_ID_46-65,Respondent_ID_65+,Respondent_ID_15-18_share,Respondent_ID_19-30_share,Respondent_ID_31-45_share,Respondent_ID_46-65_share,Respondent_ID_65+_share
0,2-3 times a month,232,891,398,66,26,15.59,16.14,16.75,15.49,13.68
1,2-3 times a week,539,1917,809,155,71,36.22,34.73,34.05,36.38,37.37
2,Daily,196,736,348,42,24,13.17,13.33,14.65,9.86,12.63
3,Once a week,244,888,361,86,30,16.40,16.09,15.19,20.19,15.79
4,Rarely,277,1088,460,77,39,18.62,19.71,19.36,18.08,20.53

## Which type of marketing reaches the most Youth (15-30)?

In [30]:
df.columns

Index(['Response_ID', 'Respondent_ID', 'Consume_frequency', 'Consume_time',
       'Consume_reason', 'Heard_before', 'Brand_perception',
       'General_perception', 'Tried_before', 'Taste_experience',
       'Reasons_preventing_trying', 'Current_brands',
       'Reasons_for_choosing_brands', 'Improvements_desired',
       'Ingredients_expected', 'Health_concerns',
       'Interest_in_natural_or_organic', 'Marketing_channels',
       'Packaging_preference', 'Limited_edition_packaging', 'Price_range',
       'Purchase_location', 'Typical_consumption_situations', 'Name', 'Age',
       'Gender', 'City_ID', 'City', 'Tier'],
      dtype='object')

In [31]:
df.Marketing_channels.unique()

array(['TV commercials', 'Print media', 'Online ads', 'Other',
       'Outdoor billboards'], dtype=object)

In [32]:
df.Age.unique()

array(['15-18', '19-30', '31-45', '46-65', '65+'], dtype=object)

In [33]:
youth=df[(df['Age']=='15-18')|(df['Age']=='19-30')]

In [34]:
youth.head()

,Response_ID,Respondent_ID,Consume_frequency,Consume_time,Consume_reason,Heard_before,Brand_perception,General_perception,Tried_before,Taste_experience,Reasons_preventing_trying,Current_brands,Reasons_for_choosing_brands,Improvements_desired,Ingredients_expected,Health_concerns,Interest_in_natural_or_organic,Marketing_channels,Packaging_preference,Limited_edition_packaging,Price_range,Purchase_location,Typical_consumption_situations,Name,Age,Gender,City_ID,City,Tier
0,103001,120031,2-3 times a week,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Not sure,No,5,Unfamiliar with the brand,Blue Bull,Availability,Reduced sugar content,Guarana,No,Yes,TV commercials,Compact and portable cans,Yes,50-99,Supermarkets,Studying/working late,Aniruddh Issac,15-18,Female,CT117,Ahmedabad,Tier 2
1,103002,120032,2-3 times a month,Throughout the day,To boost performance,No,Neutral,Not sure,No,5,Not interested in energy drinks,Bepsi,Availability,More natural ingredients,Caffeine,Yes,Not Sure,Print media,Compact and portable cans,No,50-99,Supermarkets,Sports/exercise,Trisha Rout,19-30,Male,CT118,Pune,Tier 2
2,103003,120033,Rarely,Before exercise,Increased energy and focus,No,Neutral,Not sure,No,2,Not available locally,Bepsi,Availability,More natural ingredients,Caffeine,No,Yes,Online ads,Innovative bottle design,Not Sure,100-150,Supermarkets,Studying/working late,Yuvraj Virk,15-18,Male,CT116,Hyderabad,Tier 1
4,103005,120035,Daily,To stay awake during work/study,Increased energy and focus,Yes,Neutral,Effective,Yes,5,Other,Sky 9,Other,More natural ingredients,Caffeine,Yes,Yes,Online ads,Compact and portable cans,Yes,100-150,Online retailers,Studying/working late,Mohanlal Joshi,19-30,Female,CT120,Lucknow,Tier 2
5,103006,120036,Rarely,For mental alertness,To combat fatigue,Yes,Negative,Not sure,No,5,Health concerns,Cola-Coka,Availability,Wider range of flavors,Vitamins,Yes,Yes,TV commercials,Other,Yes,Above 150,Gyms and fitness centers,Social outings/parties,Zeeshan Ratta,19-30,Female,CT118,Pune,Tier 2

In [35]:
youth["Age"].unique()

array(['15-18', '19-30'], dtype=object)

In [36]:
marketing_youth_reach_to_channel=pd.pivot_table(youth,index="Marketing_channels",columns="Age",values="Respondent_ID",aggfunc="count").reset_index()

In [39]:
marketing_youth_reach_to_channel

Age  Marketing_channels  15-18  19-30
0            Online ads    707   2666
1                 Other     94    608
2    Outdoor billboards    117    585
3           Print media     75    371
4        TV commercials    495   1290

In [40]:
marketing_youth_reach_to_channel["sum"]= marketing_youth_reach_to_channel['15-18']+marketing_youth_reach_to_channel["19-30"]

In [41]:
marketing_youth_reach_to_channel['share']=round(marketing_youth_reach_to_channel['sum']/marketing_youth_reach_to_channel['sum'].sum()*100,2)

In [42]:
marketing_youth_reach_to_channel

Age  Marketing_channels  15-18  19-30   sum  share
0            Online ads    707   2666  3373  48.13
1                 Other     94    608   702  10.02
2    Outdoor billboards    117    585   702  10.02
3           Print media     75    371   446   6.36
4        TV commercials    495   1290  1785  25.47

## 2. Consumer Preferences:

In [43]:
##What are the preferred ingredients of energy drinks among respondents?

In [44]:
df.columns

Index(['Response_ID', 'Respondent_ID', 'Consume_frequency', 'Consume_time',
       'Consume_reason', 'Heard_before', 'Brand_perception',
       'General_perception', 'Tried_before', 'Taste_experience',
       'Reasons_preventing_trying', 'Current_brands',
       'Reasons_for_choosing_brands', 'Improvements_desired',
       'Ingredients_expected', 'Health_concerns',
       'Interest_in_natural_or_organic', 'Marketing_channels',
       'Packaging_preference', 'Limited_edition_packaging', 'Price_range',
       'Purchase_location', 'Typical_consumption_situations', 'Name', 'Age',
       'Gender', 'City_ID', 'City', 'Tier'],
      dtype='object')

In [45]:
df.Ingredients_expected.unique()

array(['Guarana', 'Caffeine', 'Vitamins', 'Sugar'], dtype=object)

In [46]:
Prefered_ingredients=df.groupby(["Ingredients_expected"])['Respondent_ID'].count().reset_index()

In [47]:
Prefered_ingredients

  Ingredients_expected  Respondent_ID
0             Caffeine           3896
1              Guarana           1553
2                Sugar           2017
3             Vitamins           2534

In [48]:
Prefered_ingredients["share"]=round(Prefered_ingredients["Respondent_ID"]/Prefered_ingredients["Respondent_ID"].sum()*100,2)

In [49]:
Prefered_ingredients

  Ingredients_expected  Respondent_ID  share
0             Caffeine           3896  38.96
1              Guarana           1553  15.53
2                Sugar           2017  20.17
3             Vitamins           2534  25.34

In [50]:
##What packaging preferences do respondents have for energy drinks?

In [51]:
df.Packaging_preference.unique()

array(['Compact and portable cans', 'Innovative bottle design', 'Other',
       'Eco-friendly design', 'Collectible packaging'], dtype=object)

In [52]:
Prefered_packaging=df.groupby(["Packaging_preference"])['Respondent_ID'].count().reset_index()

In [53]:
Prefered_packaging

        Packaging_preference  Respondent_ID
0      Collectible packaging           1501
1  Compact and portable cans           3984
2        Eco-friendly design            983
3   Innovative bottle design           3047
4                      Other            485

In [54]:
Prefered_packaging["share"]=round(Prefered_packaging['Respondent_ID']/Prefered_packaging['Respondent_ID'].sum()*100,2)

In [55]:
Prefered_packaging

        Packaging_preference  Respondent_ID  share
0      Collectible packaging           1501  15.01
1  Compact and portable cans           3984  39.84
2        Eco-friendly design            983   9.83
3   Innovative bottle design           3047  30.47
4                      Other            485   4.85

## 3. Competition Analysis

In [56]:
##a. Who are the current market leaders?

In [57]:
df.columns

Index(['Response_ID', 'Respondent_ID', 'Consume_frequency', 'Consume_time',
       'Consume_reason', 'Heard_before', 'Brand_perception',
       'General_perception', 'Tried_before', 'Taste_experience',
       'Reasons_preventing_trying', 'Current_brands',
       'Reasons_for_choosing_brands', 'Improvements_desired',
       'Ingredients_expected', 'Health_concerns',
       'Interest_in_natural_or_organic', 'Marketing_channels',
       'Packaging_preference', 'Limited_edition_packaging', 'Price_range',
       'Purchase_location', 'Typical_consumption_situations', 'Name', 'Age',
       'Gender', 'City_ID', 'City', 'Tier'],
      dtype='object')

In [58]:
df.Current_brands.unique()

array(['Blue Bull', 'Bepsi', 'Sky 9', 'Cola-Coka', 'Gangster', 'CodeX',
       'Others'], dtype=object)

In [59]:
current_leader=df.groupby(["Current_brands"])['Respondent_ID'].count().reset_index()

In [60]:
current_leader["share"]=round(current_leader["Respondent_ID"]/current_leader["Respondent_ID"].sum()*100,2)

In [61]:
current_leader

  Current_brands  Respondent_ID  share
0          Bepsi           2112  21.12
1      Blue Bull           1058  10.58
2          CodeX            980   9.80
3      Cola-Coka           2538  25.38
4       Gangster           1854  18.54
5         Others            479   4.79
6          Sky 9            979   9.79

In [62]:
## What are the primary reasons consumers prefer those brands over ours?

In [63]:
df.Reasons_for_choosing_brands.unique()

array(['Availability', 'Other', 'Brand reputation', 'Effectiveness',
       'Taste/flavor preference'], dtype=object)

In [64]:
df.Reasons_for_choosing_brands.value_counts()

Reasons_for_choosing_brands
Brand reputation           2652
Taste/flavor preference    2011
Availability               1910
Effectiveness              1748
Other                      1679
Name: count, dtype: int64

In [65]:
Reasons_for_choosing_brands=df.groupby(["Reasons_for_choosing_brands"])['Respondent_ID'].count().reset_index()

In [66]:
Reasons_for_choosing_brands

  Reasons_for_choosing_brands  Respondent_ID
0                Availability           1910
1            Brand reputation           2652
2               Effectiveness           1748
3                       Other           1679
4     Taste/flavor preference           2011

In [67]:
Reasons_for_choosing_brands['share']=round(Reasons_for_choosing_brands['Respondent_ID']/Reasons_for_choosing_brands['Respondent_ID'].sum()*100,2)

In [68]:
Reasons_for_choosing_brands

  Reasons_for_choosing_brands  Respondent_ID  share
0                Availability           1910  19.10
1            Brand reputation           2652  26.52
2               Effectiveness           1748  17.48
3                       Other           1679  16.79
4     Taste/flavor preference           2011  20.11

## 4. Marketing Channels and Brand Awareness

In [69]:
#Which marketing channel can be used to reach more customers?

In [70]:
df.columns

Index(['Response_ID', 'Respondent_ID', 'Consume_frequency', 'Consume_time',
       'Consume_reason', 'Heard_before', 'Brand_perception',
       'General_perception', 'Tried_before', 'Taste_experience',
       'Reasons_preventing_trying', 'Current_brands',
       'Reasons_for_choosing_brands', 'Improvements_desired',
       'Ingredients_expected', 'Health_concerns',
       'Interest_in_natural_or_organic', 'Marketing_channels',
       'Packaging_preference', 'Limited_edition_packaging', 'Price_range',
       'Purchase_location', 'Typical_consumption_situations', 'Name', 'Age',
       'Gender', 'City_ID', 'City', 'Tier'],
      dtype='object')

In [71]:
df.Marketing_channels.unique()

array(['TV commercials', 'Print media', 'Online ads', 'Other',
       'Outdoor billboards'], dtype=object)

In [72]:
Channel_platform=df.groupby(["Marketing_channels"])['Respondent_ID'].count().reset_index()

In [73]:
Channel_platform

   Marketing_channels  Respondent_ID
0          Online ads           4020
1               Other           1225
2  Outdoor billboards           1226
3         Print media            841
4      TV commercials           2688

In [74]:
Channel_platform["share"]=Channel_platform['Respondent_ID']/Channel_platform['Respondent_ID'].sum()*100

In [75]:
Channel_platform

   Marketing_channels  Respondent_ID  share
0          Online ads           4020  40.20
1               Other           1225  12.25
2  Outdoor billboards           1226  12.26
3         Print media            841   8.41
4      TV commercials           2688  26.88

In [76]:
# How effective are different marketing strategies and channels in reaching our customers?

#Online ads have the highest share among respondents, accounting for 40.20%.
#TV commercials follow with a share of 26.88%.
#Outdoor billboards and Other channels have relatively lower shares, with 12.26% and 12.25% respectively.
#Print media has the smallest share among respondents, comprising 8.41%.
#This distribution provides insights into the relative effectiveness and popularity of each marketing channel among 
#the surveyed respondents. It indicates a significant preference for online ads and TV commercials, suggesting that 
#these channels may be more impactful in reaching the target audience compared to outdoor billboards, print media, 
#and other channels.

In [77]:
df.Marketing_channels.unique()

array(['TV commercials', 'Print media', 'Online ads', 'Other',
       'Outdoor billboards'], dtype=object)

In [78]:
df.sample(5)

,Response_ID,Respondent_ID,Consume_frequency,Consume_time,Consume_reason,Heard_before,Brand_perception,General_perception,Tried_before,Taste_experience,Reasons_preventing_trying,Current_brands,Reasons_for_choosing_brands,Improvements_desired,Ingredients_expected,Health_concerns,Interest_in_natural_or_organic,Marketing_channels,Packaging_preference,Limited_edition_packaging,Price_range,Purchase_location,Typical_consumption_situations,Name,Age,Gender,City_ID,City,Tier
9306,112307,129337,2-3 times a month,Throughout the day,Increased energy and focus,No,Neutral,Dangerous,No,4,Not available locally,CodeX,Availability,More natural ingredients,Vitamins,Yes,Yes,Online ads,Compact and portable cans,Yes,100-150,Online retailers,Social outings/parties,Adira Dasgupta,31-45,Male,CT118,Pune,Tier 2
1745,104746,121776,2-3 times a month,Before exercise,To combat fatigue,No,Neutral,Effective,Yes,4,Health concerns,Bepsi,Other,Reduced sugar content,Sugar,Yes,No,Outdoor billboards,Innovative bottle design,No,50-99,Online retailers,Studying/working late,Eshani Gara,19-30,Female,CT113,Bangalore,Tier 1
1820,104821,121851,Rarely,For mental alertness,Increased energy and focus,No,Positive,Healthy,No,4,Not available locally,Bepsi,Effectiveness,Wider range of flavors,Sugar,No,Yes,TV commercials,Other,Yes,50-99,Supermarkets,Sports/exercise,Shalv Kade,19-30,Male,CT118,Pune,Tier 2
8535,111536,128566,Daily,Throughout the day,Increased energy and focus,No,Neutral,Effective,No,4,Unfamiliar with the brand,CodeX,Effectiveness,Wider range of flavors,Vitamins,Yes,No,Online ads,Other,No,Below 50,Supermarkets,Social outings/parties,Kanav Banik,65+,Female,CT114,Chennai,Tier 1
4757,107758,124788,Once a week,Before exercise,To boost performance,No,Negative,Not sure,No,2,Other,Bepsi,Taste/flavor preference,Healthier alternatives,Caffeine,No,Yes,TV commercials,Innovative bottle design,No,Above 150,Online retailers,Social outings/parties,Taran Balasubramanian,15-18,Female,CT115,Kolkata,Tier 2

## Brand Penetration

In [79]:
#What do people think about our brand?

In [80]:
df.Brand_perception.unique()

array(['Neutral', 'Positive', 'Negative'], dtype=object)

In [81]:
Brand_perception=df.groupby(["Brand_perception"])['Respondent_ID'].count().reset_index()

In [82]:
Brand_perception

  Brand_perception  Respondent_ID
0         Negative           1769
1          Neutral           5974
2         Positive           2257

In [83]:
Brand_perception["share"]=Brand_perception['Respondent_ID']/Brand_perception['Respondent_ID'].sum()*100

In [84]:
Brand_perception

  Brand_perception  Respondent_ID  share
0         Negative           1769  17.69
1          Neutral           5974  59.74
2         Positive           2257  22.57

In [85]:
#Which cities do we need to focus more on?

In [86]:
city_to_focus=df.groupby(["City"])['Respondent_ID'].count().reset_index()

In [87]:
city_to_focus

        City  Respondent_ID
0  Ahmedabad            456
1  Bangalore           2828
2    Chennai            937
3      Delhi            429
4  Hyderabad           1833
5     Jaipur            360
6    Kolkata            566
7    Lucknow            175
8     Mumbai           1510
9       Pune            906

In [88]:
city_to_focus["share"]=(city_to_focus['Respondent_ID']/city_to_focus['Respondent_ID'].sum()*100)

In [89]:
city_to_focus

        City  Respondent_ID  share
0  Ahmedabad            456   4.56
1  Bangalore           2828  28.28
2    Chennai            937   9.37
3      Delhi            429   4.29
4  Hyderabad           1833  18.33
5     Jaipur            360   3.60
6    Kolkata            566   5.66
7    Lucknow            175   1.75
8     Mumbai           1510  15.10
9       Pune            906   9.06

## Purchase Behavior

In [90]:
#Where do respondents prefer to purchase energy drinks?

In [91]:
respondents_prefer=df.groupby(["Purchase_location"])['Respondent_ID'].count().reset_index()

In [92]:
respondents_prefer

          Purchase_location  Respondent_ID
0  Gyms and fitness centers           1464
1              Local stores            813
2          Online retailers           2550
3                     Other            679
4              Supermarkets           4494

In [93]:
respondents_prefer["share"]=round(respondents_prefer['Respondent_ID']/respondents_prefer['Respondent_ID'].sum()*100,2)

In [94]:
respondents_prefer

          Purchase_location  Respondent_ID  share
0  Gyms and fitness centers           1464  14.64
1              Local stores            813   8.13
2          Online retailers           2550  25.50
3                     Other            679   6.79
4              Supermarkets           4494  44.94

In [95]:
#What are the typical consumption situations for energy drinks among respondents?

In [96]:
typical_consumption_situations=df.groupby(["Typical_consumption_situations"])['Respondent_ID'].count().reset_index()

In [97]:
typical_consumption_situations

  Typical_consumption_situations  Respondent_ID
0              Driving/commuting            297
1                          Other            491
2         Social outings/parties           1487
3                Sports/exercise           4494
4          Studying/working late           3231

In [98]:
typical_consumption_situations["share"]=round(typical_consumption_situations['Respondent_ID']/typical_consumption_situations['Respondent_ID'].sum()*100,2)

In [99]:
typical_consumption_situations

  Typical_consumption_situations  Respondent_ID  share
0              Driving/commuting            297   2.97
1                          Other            491   4.91
2         Social outings/parties           1487  14.87
3                Sports/exercise           4494  44.94
4          Studying/working late           3231  32.31

In [100]:
#What factors influence respondents' purchase decisions, such as price range and limited edition packaging?

In [101]:
df.Limited_edition_packaging.unique()

array(['Yes', 'No', 'Not Sure'], dtype=object)

In [102]:
factors_influence_respondents=df.pivot_table(index="Price_range",columns="Limited_edition_packaging",values="Respondent_ID",aggfunc="count")

In [103]:
factors_influence_respondents

Limited_edition_packaging    No  Not Sure   Yes
Price_range
100-150                    1244       635  1263
50-99                      1741       868  1679
Above 150                   639       322   600
Below 50                    399       206   404

In [104]:
factors_influence_respondents["No_share"]=round(factors_influence_respondents['No']/factors_influence_respondents['No'].sum()*100,2)
factors_influence_respondents["Not_sure_share"]=round(factors_influence_respondents['Not Sure']/factors_influence_respondents['Not Sure'].sum()*100,2)
factors_influence_respondents["Yes_share"]=round(factors_influence_respondents['Yes']/factors_influence_respondents['No'].sum()*100,2)

In [105]:
factors_influence_respondents

Limited_edition_packaging,No,Not Sure,Yes,No_share,Not_sure_share,Yes_share
Price_range,,,,,,
100-150,1244,635,1263,30.92,31.27,31.39
50-99,1741,868,1679,43.28,42.74,41.74
Above 150,639,322,600,15.88,15.85,14.91
Below 50,399,206,404,9.92,10.14,10.04

In [106]:
df.columns

Index(['Response_ID', 'Respondent_ID', 'Consume_frequency', 'Consume_time',
       'Consume_reason', 'Heard_before', 'Brand_perception',
       'General_perception', 'Tried_before', 'Taste_experience',
       'Reasons_preventing_trying', 'Current_brands',
       'Reasons_for_choosing_brands', 'Improvements_desired',
       'Ingredients_expected', 'Health_concerns',
       'Interest_in_natural_or_organic', 'Marketing_channels',
       'Packaging_preference', 'Limited_edition_packaging', 'Price_range',
       'Purchase_location', 'Typical_consumption_situations', 'Name', 'Age',
       'Gender', 'City_ID', 'City', 'Tier'],
      dtype='object')

In [107]:
#What should be the ideal price of our product?
df.Price_range.value_counts()

Price_range
50-99        4288
100-150      3142
Above 150    1561
Below 50     1009
Name: count, dtype: int64

In [1]:
df['incremental_sold_units'] = df['quantity_sold(after_promo)'] - df['quantity_sold(before_promo)']

NameError: name 'df' is not defined